@charset "utf-8";
header {
    background-color: bisque;
}

#bookmarklet-ui {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.form-line div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-line div div {
    align-self: flex-start;
}

.wrap {
    margin: 0 20px;
}

#bookmarklet-ui li div div:first-child {
    width: 140px;
}