@charset "utf-8";
header {
    background-color: bisque;
}

#bookmarklet-control-panel .form-control {
    height: unset;
}

#bookmarklet-control-panel .form-control#bkm_body {
    height: 8em;
}

#bookmarklet-ui {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.form-line div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-line div div {
    align-self: flex-start;
}

.wrap {
    margin: 0 20px;
}

#bookmarklet-ui li div div:first-child {
    width: 140px;
}

#bookmarklet-ui li .form-check-label,
#bookmarklet-control-panel .form-check-label {
    margin-right: 8px;
}

#bookmarklet-paste-panel {
    margin-bottom: 20px;
}

.form-inline.btm8px {
    margin-bottom: 8px;
}

.btn.rgt5px {
    margin-right: 5px;
}

.form-control.btm8px {
    margin-bottom: 8px;
}